/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */
@font-face {
    font-family: 'nexa_boldregular';
    src: url('nexa_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*,
*::after,
*::before {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

/* GENERAL */
body {
    font-family: 'nexa_boldregular';
}
#welcome-screen {
    width: 100%;
    height: 100vh;
    background: #19B5FE;
}
#welcome-screen p {
    color: white;
    -webkit-font-smoothing: antialiased;
    font-size: 30px;
    padding: 100px 170px 0 170px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}
#headline {
    font-size: 110px;
    color: white;
    text-align: center;
    padding-top: 80px;
}
#play {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 10%;
}
button {
    border: none;
    background: #F7CA18;
    padding: 30px;
    font-size: 25px;
    border-radius: 20px;
    font-family: 'nexa_boldregular';
    cursor: pointer;
    color: #22313F;
}
button:hover {
    background: #22313F;
    color: #F7CA18;
}
#img-display {
    background: white;
    width: 600px;
    height: 300px;
    margin: 0 auto;
    margin-top: 150px;
}
#wrong-answer {
    font-size: 150px;
    position: relative;
    top: -515px;
    text-align: center;
    color: blue;
}
#answers-container {
    width: 600px;
    height: 100px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.answers {
    width: 30%;
    height: 50px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    color: #BDC3C7;
}
.answers:hover {
    color: #000;
}
#timer {
    position: relative;
    top: -575px;
    font-size: 200px;
    color: lightgray;
    opacity: .4;
    float: right;
    margin-right: 20px;
}

#score-box {
    width: 180px;
    height: 100px;
    position: relative;
    top: -560px;
    margin: 0 auto;
    text-align: center;
    font-size: 70px;
    line-height: 1.5;
    color: #BF55EC;
}
img {
    max-width: 100%;
}
#game-over {
    display: none;
    background: #BF55EC;
    width: 100%;
    height: 100vh;
    font-size: 100px;
    text-align: center;
    padding-top: 150px;
    color: #FFF;
}
#win-display {
    display: none;
    background: #BF55EC;
    width: 100%;
    height: 100vh;
    font-size: 100px;
    text-align: center;
    padding-top: 150px;
    color: #FFF;
}



